<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3"><h1 class="title">D•G</h1></div>
			<div class="col-md-3">
				<h3 class="title">Follow me:</h3>
				<div class="btn-wrapper profile">
					<a
						class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
						href="https://github.com/davide97g/"
						target="_blank"
					>
						<i class="fab fa-github"> </i>
					</a>
					<a
						class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
						href="https://linkedin.com/in/davide-ghiotto/"
						target="_blank"
					>
						<i class="fab fa-linkedin"> </i>
					</a>
					<a
						class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
						href="https://www.instagram.com/davideghiotto/"
						target="_blank"
					>
						<i class="fab fa-instagram"> </i>
					</a>
					<a
						class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
						href="https://www.facebook.com/davide.ghiotto.1/"
						target="_blank"
					>
						<i class="fab fa-facebook-square"> </i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
