<div class="wrapper">
	<section class="section section-lg" id="university">
		<section class="section">
			<div class="col-md-12">
				<div class="card card-chart card-plain">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 text-left">
								<hr class="line-primary" />

								<h5 class="card-category">All my current exams</h5>
								<h2 class="card-title">Exams Marks</h2>
								<h5 *ngIf="exams.length > 0" class="card-title">
									Average: {{ average }} <br />
									Weighted Average: {{ weighted_average }}
								</h5>
								<!-- <div class="col-sm-10 col-lg-3"> -->
								<div
									class="input-group"
									[ngClass]="{ 'input-group-focus': focus === true }"
								>
									<input
										class="form-control col-lg-3"
										placeholder="Password"
										type="password"
										(focus)="focus = true"
										(blur)="focus = false"
									/>
									<a
										class="btn btn-link btn-sm"
										id="reload-exams"
										(click)="getExamsRegistered()"
									>
										<i class="fas fa-sync"> </i>
									</a>
								</div>
								<!-- </div> -->
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row row-grid justify-content-between">
					<div class="col-md-12 mt-lg-7">
						<div *ngIf="exams" class="card-body">
							<div class="chart-area" style="height: 500px">
								<canvas id="chartExams"> </canvas>
							</div>
						</div>
						<div *ngIf="exams.length == 0" class="card-body" style="text-align: center">
							<div class="btn-wrapper mb-3">
								<p>Seems like something is not working properly... 😥💀</p>
								<p class="category text-info d-inline mr-1">Reload Exams</p>
								<a
									class="btn btn-link btn-sm"
									id="reload-exams"
									(click)="getExamsRegistered()"
								>
									<i class="tim-icons icon-minimal-right"> </i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- last exams results -->
				<div class="row row-grid justify-content-between">
					<div class="col-md-12 mt-lg-12">
						<div class="pl-md-5" style="text-align: center">
							<h1>Exams Results</h1>
							<p>Latest exams results list.</p>
						</div>
						<div class="row" *ngFor="let exam of exams_results">
							<div class="col-lg-12 col-sm-12 px-2 py-2">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-7 col-md-8">
												<div class="text-left">
													<h3 class="card-title">
														{{ exam.name }}
													</h3>
													<p>{{ exam.id }}</p>
												</div>
											</div>
											<div class="col-5 col-md-4">
												<div class="numbers">
													<!-- <p></p> -->
													<p [class]="'card-category ' + 'text-success'">
														{{ exam.mark }}
													</p>
													<p
														*ngIf="!exam.mark"
														[class]="'card-category ' + 'text-warning'"
													>
														INS
													</p>
													<p [class]="'card-category '">
														{{ exam.date }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- exams registered -->
				<div class="mt-5 row row-grid justify-content-between">
					<div class="col-md-12 mt-lg-12">
						<div class="pl-md-5" style="text-align: center">
							<h1>Registered Exams</h1>
							<p>Here the complete list of my registered exams.</p>
							<br />
							<p>
								<!-- For every stock you can find all the basic product info (ticker,
								market, ISIN) along with the total <em>unrealized</em> Profit/Loss
								(also in percentage), and the number of shares I own. -->
							</p>
						</div>
						<div class="row" *ngFor="let exam of exams">
							<div class="col-lg-12 col-sm-12 px-2 py-2">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-7 col-md-8">
												<div class="text-left">
													<h3 class="card-title">
														{{ exam.name }}
													</h3>
													<p>{{ exam.id }}</p>
												</div>
											</div>
											<div class="col-5 col-md-4">
												<div class="numbers">
													<!-- <p></p> -->
													<p [class]="'card-category ' + 'text-success'">
														{{ exam.mark }}
													</p>
													<p
														*ngIf="!exam.mark"
														[class]="'card-category ' + 'text-warning'"
													>
														?
													</p>
													<p class="card-category">CFU {{ exam.cfu }}</p>
													<p [class]="'card-category '">
														{{ exam.date }}
													</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</div>
