<nav
	class="navbar navbar-expand-lg fixed-top navbar-transparent"
	color-on-scroll="200"
	id="navbar-top"
>
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" [routerLink]="['/home']" placement="bottom">
				<span> Davide Ghiotto </span>
			</a>
			<button
				aria-controls="navigation-index"
				aria-label="Toggle navigation"
				class="navbar-toggler navbar-toggler"
				[attr.aria-expanded]="!isCollapsed"
				(click)="isCollapsed = !isCollapsed"
				id="navigation"
				type="button"
			>
				<span class="navbar-toggler-bar bar1"> </span>
				<span class="navbar-toggler-bar bar2"> </span>
				<span class="navbar-toggler-bar bar3"> </span>
			</button>
		</div>
		<div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
			<div class="navbar-collapse-header">
				<div class="row">
					<div class="col-6 collapse-brand"><a> Davide Ghiotto </a></div>
					<div class="col-6 collapse-close text-right">
						<button
							aria-controls="navigation-index"
							aria-label="Toggle navigation"
							class="navbar-toggler"
							[attr.aria-expanded]="!isCollapsed"
							(click)="isCollapsed = !isCollapsed"
							id="navigation"
							type="button"
						>
							<i class="tim-icons icon-simple-remove"> </i>
						</button>
					</div>
				</div>
			</div>
			<ul class="navbar-nav">
				<li class="nav-item p-0">
					<a
						class="nav-link"
						href="https://github.com/davide97g/"
						placement="bottom"
						target="_blank"
						tooltip="Follow me on Github"
					>
						<i class="fab fa-github"> </i>
						<p class="d-lg-none d-xl-none">Github</p>
					</a>
				</li>
				<li class="nav-item p-0">
					<a
						class="nav-link"
						href="https://www.linkedin.com/in/davide-ghiotto/"
						placement="bottom"
						target="_blank"
						tooltip="Get in touch with Linkedin"
					>
						<i class="fab fa-linkedin"> </i>
						<p class="d-lg-none d-xl-none">Linkedin</p>
					</a>
				</li>
				<li class="nav-item p-0">
					<a
						class="nav-link"
						href="https://www.facebook.com/davide.ghiotto.1/"
						placement="bottom"
						target="_blank"
						tooltip="Like me on Facebook"
					>
						<i class="fab fa-facebook-square"> </i>
						<p class="d-lg-none d-xl-none">Facebook</p>
					</a>
				</li>
				<li class="nav-item p-0">
					<a
						class="nav-link"
						href="https://www.instagram.com/davideghiotto"
						placement="bottom"
						target="_blank"
						tooltip="Follow me on Instagram"
					>
						<i class="fab fa-instagram"> </i>
						<p class="d-lg-none d-xl-none">Instagram</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div class="wrapper">
	<div class="page-header">
		<img class="dots" src="assets/img/dots.png" />

		<img class="path" src="assets/img/path4.png" />

		<div class="container align-items-center">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<h1 class="profile-title text-left">Davide Ghiotto</h1>
					<h5 class="text-on-back">1</h5>
					<p class="profile-description">
						Hello! I am Davide Ghiotto, a young student of Data Science at University of
						Padua. <br />
						<br />
						👦 15/05/1997 Birthday. I'm currently 23 years old ✌️<br />
						🎓 87/100 2011 - 2016 Liceo Quadri 🧪 scientific highschool<br />
						🎓 110L/110 2016 - 2019 Computer Science Bachelor's Degree 💻 at University
						of Study of Padua<br />
						🎓 ???/110 2019 - ??? Data Science Master's Degree 📈 at University of Study
						of Padua<br />
						🖥️ Junior Frontend Developer 11/2019 - ??? Cluster Reply Financial
						Services<br />
						🖥️ Junior Backend Developer 07/2020 - ??? Cluster Reply Financial
						Services<br />
					</p>
					<div class="btn-wrapper profile pt-3">
						<!-- <a
							class="btn btn-icon btn-instagram btn-round mr-1"
							href="https://www.instagram.com/davideghiotto"
							target="_blank"
						>
							<i class="fab fa-instagram"> </i>
						</a>
						<a
							class="btn btn-icon btn-facebook btn-round mr-1"
							href="https://www.facebook.com/davide.ghiotto.1/"
							target="_blank"
						>
							<i class="fab fa-facebook-square"> </i>
						</a>
						<a
							class="btn btn-icon btn-linkedin btn-round"
							href="https://www.linkedin.com/in/davide-ghiotto/"
							target="_blank"
						>
							<i class="fab fa-linkedin"> </i>
						</a> -->
					</div>
				</div>
				<div class="col-lg-6 col-md-6 ml-auto mr-auto">
					<div class="card card-coin card-plain">
						<div class="card-header">
							<img
								class="img-center img-fluid rounded-circle shadow-lg"
								src="assets/img/davide.jpg"
							/>

							<h4 class="title">Profile</h4>
							<a href="./assets/pdf/CV.pdf">
								<button class="btn btn-simple btn-primary">Download CV</button>
							</a>
						</div>
						<div class="card-body">
							<tabset
								class="nav-tabs-danger justify-content-center tab-subcategories"
							>
								<tab heading="Tech skills">
									<div class="table-responsive" style="overflow: hidden">
										<table class="table tablesorter" id="plain-table">
											<thead class="text-danger">
												<tr>
													<th class="header">SKILL</th>
													<th class="header">EXPERIENCE</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Angular</td>
													<td>2 years</td>
												</tr>
												<tr>
													<td>Node.js</td>
													<td>2 years</td>
												</tr>
												<tr>
													<td>Typescript</td>
													<td>2 years</td>
												</tr>
												<tr>
													<td>Firebase</td>
													<td>1 year</td>
												</tr>
												<tr>
													<td>Java</td>
													<td>1 year</td>
												</tr>
												<tr>
													<td>SQL (MySQL, Oracle)</td>
													<td>6 months</td>
												</tr>
												<tr>
													<td>Python</td>
													<td>1 year</td>
												</tr>
												<tr>
													<td>Git</td>
													<td>2 years</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
								<tab heading="Soft skills">
									<div class="table-responsive" style="overflow: hidden">
										<table class="table tablesorter" id="plain-table">
											<tbody>
												<tr>
													<td>Autonomous learning</td>
												</tr>
												<tr>
													<td>Curiosity driven</td>
												</tr>
												<tr>
													<td>Drive to excellence</td>
												</tr>
												<tr>
													<td>Great teamwork</td>
												</tr>
											</tbody>
										</table>
									</div>
								</tab>
							</tabset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-md-6">
					<div class="row justify-content-between align-items-center">
						<carousel [showIndicators]="true">
							<slide>
								<a href="https://zeuscode.it">
									<img
										alt="First slide"
										class="d-block"
										src="assets/img/projects/screen_zeuscode.png"
									/>
								</a>
							</slide>
							<slide>
								<a href="https://life-4-weeks.web.app/">
									<img
										alt="Second slide"
										class="d-block"
										src="assets/img/projects/screen_life_in_weeks.png"
									/>
								</a>
							</slide>
							<slide>
								<a href="https://github.com/davide97g/ml-modules">
									<img
										alt="Third slide"
										class="d-block"
										src="assets/img/projects/screen_ml_modules.png"
									/>
								</a>
							</slide>
							<slide>
								<a href="https://github.com/davide97g/machine-learning">
									<img
										alt="Third slide"
										class="d-block"
										src="assets/img/projects/screen_machine_learning.jpg"
									/>
								</a>
							</slide>
						</carousel>
					</div>
				</div>
				<div class="col-md-5">
					<h1 class="profile-title text-left">Projects</h1>
					<h5 class="text-on-back">2</h5>
					<p class="profile-description text-left">
						Here it's a list of my major projects. Foreach of it you can find the
						relative repository on Github and see the code.
					</p>
					<div class="btn-wrapper pt-3">
						<a href="https://github.com/davide97g/">
							<button class="btn btn-simple btn-info">
								<i class="fab fa-github"> </i> Visit Github Profile
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-3"><h1 class="title">D•G</h1></div>
				<div class="col-md-3">
					<h3 class="title">Follow me:</h3>
					<div class="btn-wrapper profile">
						<a
							class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
							href="https://github.com/davide97g/"
							target="_blank"
						>
							<i class="fab fa-github"> </i>
						</a>
						<a
							class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
							href="https://linkedin.com/in/davide-ghiotto/"
							target="_blank"
						>
							<i class="fab fa-linkedin"> </i>
						</a>
						<a
							class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
							href="https://www.instagram.com/davideghiotto/"
							target="_blank"
						>
							<i class="fab fa-instagram"> </i>
						</a>
						<a
							class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
							href="https://www.facebook.com/davide.ghiotto.1/"
							target="_blank"
						>
							<i class="fab fa-facebook-square"> </i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>
