<div class="wrapper">
	<div class="page-header">
		<div class="content-center">
			<div class="row row-grid justify-content-between align-items-center text-left">
				<div class="col-lg-12 col-md-12">
					<h1 class="text-white">Finance</h1>
					<p class="text-white mb-3">Budgeting and financial analysis of my life.</p>
					<div class="btn-wrapper mt-3">
						<p class="category text-info d-inline mr-1">Expenses</p>
						<a class="btn btn-info btn-link btn-sm" href="#expenses">
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
					<div class="btn-wrapper">
						<p class="category text-info d-inline mr-1">Statistics</p>
						<a class="btn btn-info btn-link btn-sm" href="#stats">
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- expenses -->
	<section class="section section-lg" id="expenses">
		<div class="col-md-12">
			<div class="card card-chart card-plain">
				<div class="card card-chart">
					<div class="card-header">
						<h5 class="card-category">Expenses</h5>
						<h3 class="card-title">
							<p class="text-info">
								<i class="tim-icons icon-chart-bar-32 text-info"></i>
								Track expenses
							</p>
						</h3>
					</div>
				</div>
				<div *ngIf="records" class="card-body">
					<div class="chart-area"><canvas id="chartExpenses"> </canvas></div>
				</div>				
			</div>
		</div>
	</section>
	<section class="section section-lg" id="statistics">
		<div class="col-md-12">
			<div class="card card-chart card-plain">
				<div class="card card-chart">
					<div class="card-header">
						<h5 class="card-category">Statistics</h5>
						<h3 class="card-title">
							<p class="text-info">
								<i class="tim-icons icon-chart-bar-32 text-info"></i>
								Some stats here...
							</p>
						</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
