<div class="wrapper">
	<!-- intro -->
	<div class="page-header">
		<img class="path" src="assets/img/blob.png" />

		<img class="path2" src="assets/img/path2.png" />

		<img class="shapes triangle" src="assets/img/triunghiuri.png" />

		<img class="shapes wave" src="assets/img/waves.png" />

		<img class="shapes squares" src="assets/img/patrat.png" />

		<img class="shapes circle" src="assets/img/cercuri.png" />

		<div class="content-center">
			<div class="row row-grid justify-content-between align-items-center text-left">
				<div class="col-lg-6 col-md-6">
					<h1 class="text-white">
						The biggest risk of all is <br />
						<span class="text-white"> not taking one. </span>
					</h1>
					<p class="text-white mb-3">
						In this page you will find my investing strategy and my current investment
						data.
						<br />
						This is part of my "open-life" project where I expose myself in various
						aspects. Of course, the only aim of this is to show what I can do to
						digitalize and automate some of my experiences, like investing.
					</p>
					<div class="btn-wrapper mb-3">
						<p class="category text-success d-inline mr-1">My Portfolio</p>
						<a class="btn btn-success btn-link btn-sm" href="#portfolio">
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<img alt="Circle image" class="img-fluid" src="assets/img/etherum.png" />
				</div>
			</div>
		</div>
	</div>

	<!-- investment strategy -->
	<section class="section section-lg" id="investing-strategy">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<h1 class="text-center">My Investing Strategy</h1>
					<div class="row row-grid justify-content-center">
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-primary">
									<i class="tim-icons icon-money-coins"> </i>
								</div>
								<h4 class="info-title">Low Commission</h4>
								<hr class="line-primary" />

								<p>
									Divide details about your work into parts. Write a few lines
									about each one. A paragraph describing a feature will.
								</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-warning">
									<i class="tim-icons icon-chart-pie-36"> </i>
								</div>
								<h4 class="info-title">High Incomes</h4>
								<hr class="line-warning" />

								<p>
									Divide details about your product or agency work into parts.
									Write a few lines about each one. A paragraph describing feature
									will be a feature.
								</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-success">
									<i class="tim-icons icon-single-02"> </i>
								</div>
								<h4 class="info-title">Verified People</h4>
								<hr class="line-success" />

								<p>
									For me it's important to have someone who can explain complex
									things and guide me to more reasonable choices. This financial
									journey started thanks to
									<strong>Darko Ivanovski</strong> and his YouTube Channel. You
									can find everything you need and more there!
								</p>
								<div class="btn-wrapper mb-3">
									<p class="category text-info d-inline mr-1">
										Darko Ivanovski Investments
									</p>
									<a
										class="btn btn-info btn-link btn-sm"
										href="https://www.youtube.com/channel/UC8Mfj0kXXptJMRX5mgB0TQQ"
									>
										<i class="tim-icons icon-minimal-right"> </i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-lg" id="portfolio">
		<img class="path" src="assets/img/path4.png" />

		<img class="path2" src="assets/img/path5.png" />

		<img class="path3" src="assets/img/path2.png" />

		<section class="section">
			<img class="path" src="assets/img/path4.png" />

			<div class="col-md-12">
				<div class="card card-chart card-plain">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 text-left">
								<hr class="line-primary" />

								<h5 class="card-category">All my current stocks</h5>
								<h2 class="card-title">Portfolio</h2>
							</div>
						</div>
					</div>
					<div *ngIf="portfolio" class="card-body">
						<div class="chart-area"><canvas id="chartPorfolio"> </canvas></div>
					</div>
					<div *ngIf="!portfolio" class="card-body" style="text-align: center">
						<div class="btn-wrapper mb-3">
							<p>Seems like something is not working properly... 😥💀</p>
							<p class="category text-info d-inline mr-1">Reload Portfolio</p>
							<a
								class="btn btn-link btn-sm"
								id="reload-portfolio"
								(click)="getPortfolio()"
							>
								<i class="tim-icons icon-minimal-right"> </i>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row row-grid justify-content-between">
					<div class="col-md-5 mt-lg-5">
						<div class="row">
							<div class="col-lg-6 col-sm-12 px-2 py-2">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="tim-icons icon-trophy text-warning">
													</i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-title">3,237</p>
													<p></p>
													<p class="card-category">Awards</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 px-2 py-2">
								<div class="card card-stats upper bg-default">
									<div class="card-body">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="tim-icons icon-coins text-white"> </i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-title">3,653</p>
													<p></p>
													<p class="card-category">Commits</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-6 col-sm-12 px-2 py-2">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i class="tim-icons icon-gift-2 text-info"> </i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-title">593</p>
													<p></p>
													<p class="card-category">Presents</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-sm-12 px-2 py-2">
								<div class="card card-stats">
									<div class="card-body">
										<div class="row">
											<div class="col-5 col-md-4">
												<div class="icon-big text-center icon-warning">
													<i
														class="tim-icons icon-credit-card text-success"
													>
													</i>
												</div>
											</div>
											<div class="col-7 col-md-8">
												<div class="numbers">
													<p class="card-title">10,783</p>
													<p></p>
													<p class="card-category">Forks</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pl-md-5">
							<h1>
								Large <br />

								Achivements
							</h1>
							<p>
								I should be capable of drawing a single stroke at the present
								moment; and yet I feel that I never was a greater artist than now.
							</p>
							<br />

							<p>
								When, while the lovely valley teems with vapour around me, and the
								meridian sun strikes the upper surface of the impenetrable foliage
								of my trees, and but a few stray.
							</p>
							<br />

							<a class="font-weight-bold text-info mt-5" href="javascript:void(0)">
								Show all <i class="tim-icons icon-minimal-right text-info"> </i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<!-- performance -->
	<section class="section section-lg" id="performance">
		<!-- <img class="path" src="assets/img/path4.png" /> -->

		<!-- <img class="path2" src="assets/img/path2.png" /> -->

		<div class="col-md-12">
			<div class="card card-chart card-plain">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							<hr class="line-primary" />

							<h5 class="card-category">Total Investments</h5>
							<h2 class="card-title">Performance</h2>
						</div>
					</div>
				</div>
				<div *ngIf="performance" class="card-body">
					<div class="chart-area"><canvas id="chartPerformance"> </canvas></div>
				</div>
				<div *ngIf="!performance" class="card-body" style="text-align: center">
					<div class="btn-wrapper mb-3">
						<p>Seems like something is not working properly... 😥💀</p>
						<p class="category text-info d-inline mr-1">Reload Performance</p>
						<a
							class="btn btn-link btn-sm"
							id="reload-performance"
							(click)="getPerformance()"
						>
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
