<div class="wrapper">
	<!-- intro -->
	<div class="page-header">
		<img class="path" src="assets/img/blob.png" />

		<img class="path2" src="assets/img/path2.png" />

		<img class="shapes triangle" src="assets/img/triunghiuri.png" />

		<img class="shapes wave" src="assets/img/waves.png" />

		<img class="shapes squares" src="assets/img/patrat.png" />

		<img class="shapes circle" src="assets/img/cercuri.png" />

		<div class="content-center">
			<div class="row row-grid justify-content-between align-items-center text-left">
				<div class="col-lg-6 col-md-6">
					<h1 class="text-white">
						The biggest risk of all is <br />
						<span class="text-white"> not taking one. </span>
					</h1>
					<p class="text-white mb-3">
						In this page you will find my investing strategy and my current investment
						data.
						<br />
						This is part of my "open-life" project where I expose myself in various
						aspects. Of course, the only aim of this is to show what I can do to
						digitalize and automate some of my experiences, like investing.
					</p>
					<div class="btn-wrapper mb-3">
						<p class="category text-success d-inline mr-1">My Portfolio</p>
						<a class="btn btn-success btn-link btn-sm" href="#portfolio">
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
				</div>
				<div class="col-lg-4 col-md-5">
					<img alt="Circle image" class="img-fluid" src="assets/img/etherum.png" />
				</div>
			</div>
		</div>
	</div>

	<!-- investment strategy -->
	<section class="section section-lg" id="investing-strategy">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<h1 class="text-center">My Investing Strategy</h1>
					<div class="row row-grid justify-content-center">
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-primary">
									<i class="tim-icons icon-money-coins"> </i>
								</div>
								<h4 class="info-title">Passive</h4>
								<hr class="line-primary" />

								<p>
									As long as I like making money, I am not willing to spend too
									much time following the stock market. It's
									<span class="text-primary">not my passion</span>. <br />
									But, in my opinion, investments are a great tool that can be
									exploited in several ways: the one that attracts me the most is
									the
									<span class="text-primary">passive investing strategy</span> :
									<em>
										consistently investing over time in good companies and
										diversified</em
									>.
									<a
										class="text-primary"
										href="https://www.investopedia.com/terms/e/etf.asp"
										>ETFs</a
									>.
								</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-success">
									<i class="tim-icons icon-spaceship"> </i>
								</div>
								<h4 class="info-title">Growth</h4>
								<hr class="line-success" />

								<p>
									My goal now is to grow my capital to 50k within 2 years. <br />
									The deadline is <span class="text-success">Dec 2022</span>.
									<br />
									My current risk attitude is high for several reasons:
								</p>
								<ul>
									<li>Young</li>
									<li>Financially stable</li>
									<li>Debt free</li>
								</ul>
								<p>
									For these reasons I feel like to invest a small percentage of my
									portfolio in more risky stocks
									<em>( e.g. in genomics )</em> that may payoff well in the
									distant future. <br />
									I found these <em>risky</em> stocks following
									<a class="text-success" href="https://ark-invest.com/"
										>ARK Invest</a
									>
									ideas for disrupting innovation.
								</p>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="info">
								<div class="icon icon-info">
									<i class="tim-icons icon-single-02"> </i>
								</div>
								<h4 class="info-title">Trust</h4>
								<hr class="line-info" />
								<p>
									It's fundamental not to lose money investing in the stock
									market. For me it's important to have someone who can explain
									complex things and guide me to more reasonable choices. <br />
									This financial journey started thanks to
									<span class="text-info">Darko Ivanovski</span> and his YouTube
									Channel. You can find everything you need and more there! <br />
									<a
										class="text-info"
										href="https://www.youtube.com/channel/UC8Mfj0kXXptJMRX5mgB0TQQ"
									>
										Darko Ivanovski Investments
									</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section section-lg" id="portfolio">
		<img class="path" src="assets/img/path4.png" />

		<img class="path2" src="assets/img/path5.png" />

		<img class="path3" src="assets/img/path2.png" />

		<section class="section">
			<img class="path" src="assets/img/path4.png" />

			<div class="col-md-12">
				<div class="card card-chart card-plain">
					<div class="card-header">
						<div class="row">
							<div class="col-sm-6 text-left">
								<hr class="line-primary" />

								<h5 class="card-category">Graphical summary</h5>
								<h2 class="card-title">
									Portfolio
									{{ portfolio ? portfolio.total + ' €' : '' }}
								</h2>
								<h5 class="card-category" *ngIf="portfolio && portfolio.date">
									last update: {{ portfolio.date }}
								</h5>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row row-grid justify-content-between">
					<div class="col-md-6 mt-lg-7">
						<div *ngIf="portfolio" class="card-body">
							<div class="chart-area" style="height: 500px">
								<canvas id="chartPortfolio"> </canvas>
							</div>
						</div>
						<div *ngIf="!portfolio" class="card-body" style="text-align: center">
							<div class="btn-wrapper mb-3">
								<p>Seems like something is not working properly... 😥💀</p>
								<p class="category text-info d-inline mr-1">Reload Portfolio</p>
								<a
									class="btn btn-link btn-sm"
									id="reload-portfolio"
									(click)="getPortfolio()"
								>
									<i class="tim-icons icon-minimal-right"> </i>
								</a>
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="pl-md-5">
							<h1>
								How I collect <br />
								Stocks Data
							</h1>
							<p>
								My broker does not created awesome statistics or graphs, so I just
								created them myself. <br />
								If you want to see the <code>code</code> behind these pages, soon I
								will make my repository public.
							</p>
							<!-- <a
								class="font-weight-bold text-info mt-5"
								href="https://github.com/davide97g/ultra-degiro-server"
							>
								Github Code <i class="tim-icons icon-minimal-right text-info"> </i>
							</a> -->
							<br />
							<br />
							<p>The problem was simple:</p>
							<h4>"I need to get the data of my current portfolio"</h4>
							<br />
							<p>
								But, as a programmer, I want to automate this task. <br />
								We can identify <span class="font-weight-bold">4 steps</span> in
								order to recreate this web page:
							</p>
							<ol>
								<li>
									Scrape data from the broker website:
									<code>Selenium Python</code>
								</li>
								<li>
									Save data into a database:
									<code>MongoDB cloud collections</code>
								</li>
								<li>
									Retrieve data on demand:
									<code>Heroku running Flask app </code>
								</li>
								<li>Schedule the scraping: <code>MongoDB triggers</code></li>
							</ol>
							<br />
							<p>In case you wondered, I use DEGIRO as my broker.</p>
							<a
								class="font-weight-bold text-info mt-5"
								href="https://www.degiro.it/lp/azioni?tap_a=55098-f5a0d9&tap_s=859720-22c014&utm_source=darkoivanovski&utm_campaign=DEGIRO+Italy&utm_medium=a&utm_content=hp"
							>
								Link Degiro <i class="tim-icons icon-minimal-right text-info"> </i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>

	<section class="section section-lg" id="stock-table">
		<!-- title -->
		<div class="col-md-12">
			<div class="card card-chart card-plain">
				<div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							<hr class="line-success" />
							<h5 class="card-category">All my current stocks</h5>
							<h2 class="card-title">Portfolio Stocks Details</h2>
							<h5 class="card-category" *ngIf="portfolio && portfolio.date">
								last update: {{ portfolio.date }}
							</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- table -->
		<div class="col-lg-10 col-md-6 ml-auto mr-auto">
			<div class="card card-coin card-plain">
				<div class="card-body">
					<div class="table-responsive" style="overflow: hidden">
						<table class="table tablesorter" id="plain-table">
							<thead>
								<tr>
									<th class="header no-height">Stock</th>
									<th class="header no-height">Quantity</th>
									<th class="header no-height">Price</th>
									<th class="header no-height">Value</th>
									<th class="header no-height">PMC</th>
									<th class="header no-height">total P/L</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let stock of portfolio.stocks">
									<td>{{ stock.name }}</td>
									<td>{{ stock.quantity }}</td>
									<td>{{ stock.last }}</td>
									<td>{{ stock.value | currency: '€ ' }}</td>
									<td>{{ stock.PMC }}</td>
									<td>
										<p
											[class]="
												stock.totalPl > 0 ? 'text-success' : 'text-danger'
											"
										>
											{{
												stock.value -
													stock.value / (1 + stock.totalPl / 100)
													| currency: '€ '
											}}
											( {{ stock.totalPl }} % )
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- performance -->
	<section class="section section-lg" id="performance">
		<!-- <img class="path" src="assets/img/path4.png" /> -->

		<!-- <img class="path2" src="assets/img/path2.png" /> -->

		<div class="col-md-12">
			<div class="card card-chart card-plain">
				<!-- <div class="card-header">
					<div class="row">
						<div class="col-sm-6 text-left">
							<hr class="line-primary" />

							<h5 class="card-category">Total Investments</h5>
							<h2 class="card-title">Performance</h2>
						</div>
					</div>
				</div> -->
				<div class="card card-chart">
					<div class="card-header">
						<h5 class="card-category">Performance</h5>
						<h3 class="card-title">
							<p class="text-primary">
								<i class="tim-icons icon-spaceship text-primary"></i>
								Total Portfolio:
								{{
									portfolios && portfolios.length > 0
										? portfolios[portfolios.length - 1].total
										: '?'
								}}
								€ ( {{ difference > 0 ? '+' : '' }}
								{{ difference | currency: ' € ' }} )
							</p>
							<p class="text-info">
								<i class="tim-icons icon-coins text-info"></i>
								Total Invested:
								{{
									portfolios && portfolios.length > 0
										? portfolios[portfolios.length - 1].invested
										: '?'
								}}
								€
							</p>
						</h3>
					</div>
				</div>
				<div *ngIf="performance" class="card-body">
					<div class="chart-area"><canvas id="chartPerformance"> </canvas></div>
				</div>
				<div *ngIf="!performance" class="card-body" style="text-align: center">
					<div class="btn-wrapper mb-3">
						<p>Seems like something is not working properly... 😥💀</p>
						<p class="category text-info d-inline mr-1">Reload Performance</p>
						<a
							class="btn btn-link btn-sm"
							id="reload-performance"
							(click)="getPerformance()"
						>
							<i class="tim-icons icon-minimal-right"> </i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
