<div class="container">
	<section id="welcome">
		<h1>Hi everyone!</h1>
		<p>Welcome to my personal website</p>
	</section>
	<section id="about-me" align="left">
		<span class="col-3" align="center">
			<img id="about-me-img" src="../../../assets/img/about-me.png" alt="" />
		</span>
		<span class="col-7">
			<h2>About me</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non turpis consequat,
				tempor dui ac, placerat arcu. Nulla a massa sit amet mauris posuere bibendum.
				Suspendisse potenti. Pellentesque bibendum felis odio, et euismod lacus suscipit
				vitae. In suscipit lobortis justo, id vulputate lectus posuere id. Donec varius, dui
				quis dapibus posuere, ante orci imperdiet elit, id placerat lorem elit ut nibh.
				Maecenas sollicitudin facilisis libero, et venenatis nisi.
			</p>
			<button mat-raised-button color="accent" (click)="router.navigateByUrl('about-me')">
				About me
			</button>
		</span>
	</section>
	<br />
	<br />
	<br />
	<section id="projects" align="right">
		<span class="col-4">
			<h2>Projects</h2>
			<p>
				Morbi bibendum finibus nunc, et dictum velit sagittis non. Donec elementum dictum
				convallis. Nunc eleifend vestibulum vehicula. Nunc pellentesque gravida dolor, et
				eleifend erat placerat sit amet. Proin eu turpis sit amet nunc sagittis pulvinar
				vitae eu erat. Maecenas venenatis quis mauris ac interdum. Vestibulum id lacinia
				lorem. Mauris pulvinar vestibulum augue, gravida convallis nulla pulvinar sit amet.
				Donec lacus nisi, lobortis a luctus ac, tristique at arcu.
			</p>
			<button mat-raised-button color="accent" (click)="router.navigateByUrl('projects')">
				Projects
			</button>
		</span>
		<span class="col-6" align="center">
            <img src="" alt="">
		</span>
	</section>
	<section id="contact-me">
		<!-- <p>
			contact me
		</p> -->
	</section>
	<section id="info">
		<!-- <p>
			info
		</p> -->
	</section>
</div>
